.productList_list {
    display: flex;
}

.productList_list_display {
    margin-top: 100px;
    margin-left: 75px;
    margin-bottom: 50px;
}
.productList_list {
    display: flex;
}

.productList_list_display {
    margin-top: 100px;
    margin-left: 75px;
    margin-bottom: 50px;
}

.pagination {
    display: flex;
    justify-content: right;
    margin-right: 150px;
    margin-bottom: 50px;
}