.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f9fc;
   font-family: "Poppins", sans-serif;
}

.register-card {
  width: 420px;
  padding: 40px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.07);
}

.register-title {
  font-size: 30px;
  font-weight: 700;
  color: #1B5A7D;
  text-align: center;
}

.register-sub {
  text-align: center;
  color: #6b7280;
  margin-bottom: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #374151;
}

.form-group input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 15px;
  transition: 0.2s;
}

.form-group input:focus {
  border-color: #1B5A7D;
  box-shadow: 0 0 5px rgba(37,99,235,0.3);
}

.btn-register {
  width: 100%;
  padding: 13px;
  background: #1B5A7D;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.btn-register:hover {
  background: #1e4fcc;
}

.login-link {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
}

.login-link a {
  color: #1B5A7D;
  font-weight: 600;
}

.register-banner {
  width: 500px;
  padding: 60px;
  margin-left: 60px;
  border-radius: 20px;
  background: linear-gradient(135deg, #1B5A7D);
  color: white;
}

.register-banner h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.register-banner p {
  font-size: 18px;
  opacity: 0.9;
}
